@charset "utf-8";

$body-bg: #E6E6E6;
$gray-lighter: #ccc;
$nav-pills-border-radius: 0;

$brand-primary: #2274b3;

@import "bootstrap";
@import "font-awesome";
@import 'mixins/footer';

body {
  position: relative;
  text-align: center;
}

.rtl{
  direction: rtl;
}

.ltr{
  direction: ltr;
}

.nav.nav-pills li{
  a{
    background: $brand-primary;
    color: white;
    &:hover{
      background: lighten($brand-primary, 10);
    }
  }
}

.main-logo{
  width: 20em;
  margin: 2em auto;
}

.center{
  position: relative;
  overflow: hidden;
}

.party-card{
  width: 180px;
  height: 220px;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  float: right;
  margin: 5px;
  text-align: center;
  position: relative;
  &:hover{
    background: #f3f3f3;
    cursor: pointer;
  }
  &.disabled{
    &:hover{
      background: white;
      cursor: default;
    }
  }
  .letters{
    font-size: 5em;
    font-weight: bold;
    margin: 20px 0;
  }
  p{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    width: 160px;
  }
  .centered-vote &{
    margin: 5px auto;
    float: none;
  }
  @media (max-width: $screen-xs-max) {
    width: 135px;
    font-size: 0.75em;
    p{
      left: 5px;
      right: 5px;
      width: 125px;
    }

  }
}

img.img-tiny{
  @include square(18px);
}

.btn.btn-facebook{
  @include button-variant(white, #3b5998, darken(#3b5998, 5));
}

.btn.btn-twitter{
  @include button-variant(white, #55acee, darken(#e1e8ed, 5));
}

.friends {
  margin: 0 auto;
  width: 40%;

  .friend {
    text-align: left;
  }
}