.container.page-wrap
  .header
    = link_to '/', class: 'header-link' do
      = image_tag 'flounder-logo.png', class: 'main-logo'
  .top-row
  .center
.footer.rtl
  -#%hr
  %p
    = 'האתר נבנה ע״י'
    %span
      <a href="https://twitter.com/udiwertheimer" target="_blank">udiwertheimer</a>
      &
      <a href="https://twitter.com/yonbergman" target="_blank">yonbergman</a>